.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

/* .form-wrapper {
    text-align: left;
} */

.disclaimer {
    font-size: 14px;
}

.list-item-pair {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 0.5rem 0;
}

.grid-list-items {
    display: grid;
    grid-template-columns: 1.5rem 1fr 1fr 1fr 1.5rem;
    gap: 1rem;
    margin: 0.5rem 0;
}

.icon-pair {
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.italic-text {
    font-style: italic;
}


.icon {
    height: 1.5rem;
    cursor: pointer;
}