@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300&family=Roboto:wght@300;500&display=swap');

/* ------------ CUSTOM PROPERTIES AND OVERALL STYLING ------------ */
:root {
  /* Colors */
  --primary: #FFC440;
  --text: #331616;
  --background: #F7F6F0;
  --circle-color: 255, 196, 64, 0.57;
  --brown: #7A4141;
  --placeholder-text: #00000080;

  /* Font */
  --font: "Poppins", sans-serif;

  /* Other styles */
  --border-radius: 8px;

    /* General settings */
    font-family: var(--font);
    background: var(--background);
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* Removes margin on all relevant tags. Body for an edge-to-edge look on sections, and headings/paragraphs to easier follow sketch */
body,
h1,
h2,
h3,
p {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 372px;
  padding: 0 1rem;
}


  /* ------------ OVERALL TYPOGRAPHY ------------ */
  p {
    font-size: 18px;
    font-weight: 300;
  }

  a {
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }
  
  h1 {
    font-size:  22px;
    font-weight: 500;
  }
  
  h2 {
    font-size: 20px;
    font-weight: 400;
  }
  
  p.thin {
    font-weight: 300;
  }

/* ------------ OVERALL ELEMENTS ------------ */
button {
    padding: 13px 40px;
    width: 250px;
}

button, input {
    border-radius: var(--border-radius);
    font-size: 18px;
    outline: none;
    cursor: pointer;
    border: none;
}

input {
    padding: 17px 20px;
    max-width: 100%;
}

input::placeholder {
    margin-left: 0;
}

ul {
    list-style: none;
    padding: 0;
}


/* ------- */
.main-wrapper {
  flex-grow: 1; /* Allow the main-wrapper to grow and take available vertical space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
  /* margin: 0 auto; */
}

.site-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-white);
}

#outer-container {
  margin-top: 1.5rem;
}

.logo {
  width: 33px;
}

.disclaimer {
  font-size: 14px;
}

.bold {
  font-weight: 500;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;

}

.swal2-confirm:not([hover]) {
  padding: 7px 19px;
  border-radius: var(--border-radius);
  background: var(--primary);
  font-size: 18px;
  border: 2px solid var(--primary);
  color: var(--text);
  font-family: var(--font);
  font-weight: 400;
}

.swal2-confirm:hover {
  background: var(--primary);
  font-weight: 400;
  color: var(--text);
}

.swal2-cancel:not([hover]) {
  padding: 7px 19px;
  border-radius: var(--border-radius);
  background-color: transparent;
  font-size: 18px;
  border: 2px solid var(--text);
  color: var(--text);
  font-family: var(--font);
  font-weight: 400;
}

.swal2-cancel:hover {
  background-color: transparent;
  font-weight: 400;
  color: var(--text);
}


/* ------- */


/* ------------ MEDIA QUERIES ------------ */
/* ------------ Tablet ------------ */
/*@media (max-width: 1279px) and (min-width: 744px) {


}*/

/* ------------ Desktop ------------ *//*
@media (min-width: 1280px) {


}*/