.bm-morph-shape {
  fill: transparent;
}

.bm-overlay {
  background: transparent!important;
  /* Using important to override react-burger-menu's default background color on the overlay */
  position: absolute;
  left: 0;
  top: 0;
}

/* Sets the width of all the items in the mobile menu */
.bm-item {
  width: 250px;
}

/* Positions the mobile menu list correctly, overriding React Burger Menus styling with important */
.bm-item-list {
  left: -95px!important;
}

/* Places the menu on the top of the page */
.bm-menu-wrap {
  top: 0;
}

.bm-icon {
  margin-top: 8px;
}

.custom-icon {
margin: 0 15px;
}

.bm-burger-button {
  position: relative;
  width: 27px;
}

.bm-cross-button {
  position: absolute; 
  width: 24px; 
  height: 24px; 
  left: 10px;
  top: 30px;
}

/* #react-burger-cross-btn {
  margin: 15px !important;
} */

.mobile-nav {
  background-color: #ffffff;
  /* height: 100svh; */
}

.main-list {
  margin-top: 12rem;
  display: flex;
  font-size: 18px;
}

.mobile-nav ul .minor-list {
  margin-top: 0.5rem;
  margin-left: 2rem;
  font-size: 16px;
  display: flex;
}

.mobile-nav ul  {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  align-items: flex-end;
}
/* 
.main-list li:hover .minor-list {
  margin-top: 1rem;
  margin-left: 2rem;
  display: flex;
  animation: fade_in_show 0.5s

} */

.mobile-nav ul li{
  margin-top: 1rem;
}

.main-list-link {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
}

#page-wrap button {
  margin-top: 2rem;
}

.honey-image {
position: absolute;
top: -7px;
right: 26px;
}
/* 
@keyframes fade_in_show {
  0% {
       opacity: 0;
       transform: scale(0)
  }

  100% {
       opacity: 1;
       transform: scale(1)
  }
} */