.site-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-white);
}

.logo {
  width: 33px;
}

#outer-container {
  margin-top: 1.5rem;
}

.bm-morph-shape {
  fill: transparent;
}

.bm-overlay {
  background: transparent!important; // Using important to override react-burger-menu's default background color on the overlay
  left: 0;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

.bm-item-list {
  left: -95px!important; // Using important to override react-burger-menu's default left position
}

.bm-menu-wrap {
  top: 0;
  /* position: fixed; */
}

.custom-icon {
/* z-index: 2; Puts the icon is below the menu */
}

.bm-burger-button {
  position: relative;
  width: 27px;
} 

.mobile-nav {
  background-color: #ffffff;
  /* height: 100svh; */
}

.mobile-nav ul{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.mobile-nav ul li{
  margin-top: 1rem;
}