.search-bar {
    position: relative;
    border-radius: var(--border-radius);
    background-color: #ffffff;
    margin-left: 0;
    width: auto;
}

.search-icon-wrapper {
    /* padding: 17px 20px; */
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    width: 100%;
    /* padding: 17px 20px; */
    padding-left: 25px;
    font-family: var(--font);
}

.search-results-dropdown {
    font-family: var(--font);
    position: absolute;
    top: 100%; /* Position it right below the search bar */
    left: 0;
    width: 100%; /* Adjust width as necessary */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000; /* Ensure it's above other content */
}


/* ------------ Tablet and up ------------ */
@media (max-width: 743px) {
    .search-bar {
        width: 100%;
    }
  }
